<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Topics</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom css-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'topic/css/style.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      
    <div class="container">        
        {{topic_list}}
        <div id="topics" class="topics">
            <table class="table">
              <tbody>
                {% for topic in topic_list %}
                <tr class="info">
                  <td class="col-md-1 votecell" style="text-align: center;" >
                    <div class="votes" topic-id="{{topic.id}}">
                        <a class="glyphicon glyphicon-chevron-up vote-up" title="This topic is useful"></a>
                        <span class="label label-primary num">{{topic.votes}}</span>
                        <a class="glyphicon glyphicon-chevron-down vote-down" title="This topic is not useful"></a>
                    </div>
                  </td>
                  <td class="topiccell">{{topic.topic}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Post Your Topic" />
        </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="{% static 'topic/js/app.js' %}"></script>
      
  </body>
</html>